.AddEntry{
    margin: 50px;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-start: span 2;
    width: 100%;
    gap: 20px;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
}

textarea {
    height: 21em;
    grid-row: 1 / span 2;
}

.formButton {
    width:25%;
    text-align: center;
    color: royalblue
}

.spacing {
    height: 30px;
}

.textareaShort {
    height: 14em;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rosybrown;
}