.Locations {
    text-align: center;
}

.list, .head {
    font-family: 'Segoe UI', sans-serif;
    width: 80%;
    margin: auto;
  }

.list td, .head td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 500px;
  }

  
.head td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#e7f1fa;
    color: rgb(29, 65, 133);
  }

.spacing{
    padding-top: 5px;
    padding-bottom: 20px;
  }

